@font-face {
  font-family: EvroPad;
  src: url(./VEFlomasticaCyrillic.ttf);
}

body {
  background: #f3f3f3;
}

h1 {
  font-family: 'EvroPad';
  text-align: center;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

footer {
  background-color: #ececec;
  text-align: center;
}

footer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.copyright {
  margin-top: 2.5rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: -0.35em;
}
